<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
      lang="vi">
<head>
    <title layout:fragment="title">Trang chủ</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div id="chart" style="max-width: 650px; margin: 0 auto;"></div>
        </div>
        <div class="col-md-6">
            <div id="chart2" style="max-width: 650px; margin: 0 auto;"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        var options = {
            chart: {
                type: 'line'
            },
            series: [{
                name: 'sales',
                data: [30, 40, 35, 50, 49, 60, 70, 91, 125]
            }],
            xaxis: {
                categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]
            }
        }

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        var chart2 = new ApexCharts(document.querySelector("#chart2"), options);

        chart.render();
        chart2.render();
    </script>
</div>

</body>
</html>