<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="vi">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">IoT Project</title>

    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.4/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.min.css">

    <script th:src="@{/plugins/jquery/jquery-3.7.1.min.js}"></script>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="/">IoT Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Trang chủ</a>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Thiết bị
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/moisturelogs">Cảm biến Độ ẩm</a></li>
                            <li><a class="dropdown-item" href="/templogs">Cảm biến Nhiệt độ</a></li>
                        </ul>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Xin chào,
                            <span sec:authentication="name"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a></li>
                        </ul>
                    </div>
                    <a sec:authorize="isAnonymous()"
                       th:href="@{/login}"
                       class="nav-link">Đăng nhập</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="my-2 container" layout:fragment="content">
</section>

<footer class="my-2 container-fluid text-center">
    Nhóm 8 &copy; 2024. All right reserved.
</footer>

<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.4/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.4/dist/extensions/mobile/bootstrap-table-mobile.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.4/dist/extensions/auto-refresh/bootstrap-table-auto-refresh.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.4/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
</body>
</html>